:root {
  --general-text-color: #757575;
  --headline-text-color: #212121;
  --hero-headline-color: #ffffff;
  --accent-color-blue: #2196f3;
  --background-color-buttons: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-button-hover: #188ce8;
  --logo-span-color: #000000;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --card-set-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}